body {
    background-color: #666;
    font-size: 14px;
    color: #fff;
}

/* HEADER */

#header-nav {
    background-color: #444444;
    border-radius: 0;
    border: 0;
}

#logo-img {
    width: 70px;
    height: 44px;
    margin: 0px;
}

#nav-list a {
    color: #fff;
    text-align: center;
}

#nav-list a:hover {
    background-color: #888;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#navbar-toggle {
    border: 1px #888 solid;
}

#search-box {
    width: 15vw;
}

.dropdown-menu {
    background-color: #444444;
}

/* END HEADER */

/* BODY */

#main-content {
    padding-top: 90px;
    padding-bottom: 15px;
}

#carousel-catalog {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/* Product slider */

.tcb-product-slider {
    background: rgba(208, 208, 208, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    width: 90%;
    border-radius: 10px;
}

.tcb-product-slider .carousel-control-prev,
.tcb-product-slider .carousel-control-next {
    width: 5%;
}

#product-slider-title {
    font-size: 1.8em;
    padding-left: 30px;
    padding-bottom: 10px;
}

.tcb-product-item a {
    color: #147196;
}

.tcb-product-item a:hover {
    text-decoration: none;
}

.tcb-product-item .tcb-hline {
    margin: 10px 0;
    height: 1px;
    background: #ccc;
}

.tcb-product-item {
    margin-bottom: 30px;
}

.tcb-product-photo {
    text-align: center;
    height: 180px;
    background: #fff;
}

.tcb-product-photo img {
    height: 100%;
    display: inline-block;
}

.tcb-product-info {
    background: #f0f0f0;
    padding: 15px;
}

.tcb-product-title h4 {
    margin-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tcb-product-price {
    color: firebrick;
    font-size: 18px;
}

.product-price {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.more-size {
    padding: 10px;
    color: white;
}

.more-size a {
    color: white;
}

.more-size a:link, .more-size a:visited, .more-size a:hover, .more-size a:active {
    color: white;
}

/* End Product silder */

.page-link {
    background-color: transparent;
    color: white;
    border: 1px solid grey;
}

/* Product detail page */

#product-detail {
    background-color: rgba(208, 208, 208, 0.2);
    padding: 10px;
}

#product-detail-info {
    padding: 10px 0px;
    margin-bottom: 10px;
}

#product-photo-sample {
    width: 100%;
    padding: 5px;
}

#product-name {
    font-size: 1.8em;
    padding-bottom: 10px;
}

#product-description-header {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.product-photo {
    padding: 10px;
    width: 100%;
}
/* End Product detail page */

/* Login */
.login-box {
    background-color: #444444;
    padding: 20px;
    width: 50vw;
    margin-top: 10vh;
}

.login-header {
    color: white;
    font-size: 3.5em;
    padding: 20px;
    text-align: center;
}

.login-info {
    padding: 15px;
}
/* End login */

.select-control {
    width: 60%;
}

/* END BODY */

/* FOOTER */

.panel-footer {
    padding-bottom: 1px;
    background-color: #444444;
    border-top: 0;
}

#footer-logo {
    padding: 15px;
}

#slogan {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
}

#useful-info h3 {
    font-size: 1.2em;
    padding-bottom: 0px;
    margin-bottom: 3px;
}

#useful-info p {
    text-align: justify;
}

#useful-info a {
    color: #888;
}

#useful-info a:hover {
    color: #fff;
}

#phone-number {
    font-weight: bold;
}

hr {
    border-color: white;
}

#shop-list-title {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
}

#shop-list h3 {
    font-size: 1.1em;
}

/* END FOOTER */

/* POPUP */

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popup .hide {
    visibility: hidden;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* END POPUP */