body {
    background-color: #666;
    font-size: 14px;
    color: #fff;
}

/* HEADER */

#header-nav {
    background-color: #444444;
    border-radius: 0;
    border: 0;
}

#logo-img {
    width: 70px;
    height: 44px;
    margin: 0px;
}

#nav-list a {
    color: #fff;
    text-align: center;
}

#nav-list a:hover {
    background-color: #888;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#navbar-toggle {
    border: 1px #888 solid;
}

#search-box {
    width: 15vw;
}

.dropdown-menu {
    background-color: #444444;
}



/* END HEADER */

/* BODY */

#main-content {
    height: 1000px;
}

/* END BODY */

/* FOOTER */

.panel-footer {
    padding-bottom: 1px;
    background-color: #444444;
    border-top: 0;
}

#footer-logo {
    padding: 15px;
}

#slogan {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
}

/* END FOOTER */